:root {
  --md-source: #00FDBE;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #00150D;
  --md-ref-palette-primary10: #002116;
  --md-ref-palette-primary20: #003828;
  --md-ref-palette-primary25: #004431;
  --md-ref-palette-primary30: #00513B;
  --md-ref-palette-primary35: #005E45;
  --md-ref-palette-primary40: #006C4F;
  --md-ref-palette-primary50: #008864;
  --md-ref-palette-primary60: #00A47A;
  --md-ref-palette-primary70: #00C291;
  --md-ref-palette-primary80: #00E1A9;
  --md-ref-palette-primary90: #39FFC2;
  --md-ref-palette-primary95: #BCFFE0;
  --md-ref-palette-primary98: #E7FFF1;
  --md-ref-palette-primary99: #F4FFF7;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #01150D;
  --md-ref-palette-secondary10: #092017;
  --md-ref-palette-secondary20: #1F352B;
  --md-ref-palette-secondary25: #2A4036;
  --md-ref-palette-secondary30: #354B41;
  --md-ref-palette-secondary35: #40574D;
  --md-ref-palette-secondary40: #4C6358;
  --md-ref-palette-secondary50: #647C71;
  --md-ref-palette-secondary60: #7E968A;
  --md-ref-palette-secondary70: #98B1A4;
  --md-ref-palette-secondary80: #B3CCBF;
  --md-ref-palette-secondary90: #CFE9DA;
  --md-ref-palette-secondary95: #DDF7E8;
  --md-ref-palette-secondary98: #E7FFF1;
  --md-ref-palette-secondary99: #F4FFF7;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00131C;
  --md-ref-palette-tertiary10: #001F2A;
  --md-ref-palette-tertiary20: #093544;
  --md-ref-palette-tertiary25: #184050;
  --md-ref-palette-tertiary30: #254B5C;
  --md-ref-palette-tertiary35: #325768;
  --md-ref-palette-tertiary40: #3E6374;
  --md-ref-palette-tertiary50: #577C8E;
  --md-ref-palette-tertiary60: #7196A8;
  --md-ref-palette-tertiary70: #8BB1C4;
  --md-ref-palette-tertiary80: #A6CCE0;
  --md-ref-palette-tertiary90: #C2E8FC;
  --md-ref-palette-tertiary95: #E0F4FF;
  --md-ref-palette-tertiary98: #F4FAFF;
  --md-ref-palette-tertiary99: #FAFCFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0E1210;
  --md-ref-palette-neutral10: #191C1A;
  --md-ref-palette-neutral20: #2E312F;
  --md-ref-palette-neutral25: #393C3A;
  --md-ref-palette-neutral30: #444845;
  --md-ref-palette-neutral35: #505351;
  --md-ref-palette-neutral40: #5C5F5C;
  --md-ref-palette-neutral50: #757875;
  --md-ref-palette-neutral60: #8E918E;
  --md-ref-palette-neutral70: #A9ACA9;
  --md-ref-palette-neutral80: #C5C7C4;
  --md-ref-palette-neutral90: #E1E3DF;
  --md-ref-palette-neutral95: #EFF1EE;
  --md-ref-palette-neutral98: #F8FAF6;
  --md-ref-palette-neutral99: #FBFDF9;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0A130F;
  --md-ref-palette-neutral-variant10: #151D19;
  --md-ref-palette-neutral-variant20: #2A322E;
  --md-ref-palette-neutral-variant25: #343D39;
  --md-ref-palette-neutral-variant30: #404944;
  --md-ref-palette-neutral-variant35: #4B554F;
  --md-ref-palette-neutral-variant40: #57615B;
  --md-ref-palette-neutral-variant50: #707974;
  --md-ref-palette-neutral-variant60: #89938D;
  --md-ref-palette-neutral-variant70: #A4ADA7;
  --md-ref-palette-neutral-variant80: #BFC9C2;
  --md-ref-palette-neutral-variant90: #DBE5DE;
  --md-ref-palette-neutral-variant95: #E9F3EC;
  --md-ref-palette-neutral-variant98: #F2FCF4;
  --md-ref-palette-neutral-variant99: #F5FFF7;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #006C4F;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #39FFC2;
  --md-sys-color-on-primary-container-light: #002116;
  --md-sys-color-primary-fixed-light: #39FFC2;
  --md-sys-color-on-primary-fixed-light: #002116;
  --md-sys-color-primary-fixed-dim-light: #00E1A9;
  --md-sys-color-on-primary-fixed-variant-light: #00513B;
  --md-sys-color-secondary-light: #4C6358;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #CFE9DA;
  --md-sys-color-on-secondary-container-light: #092017;
  --md-sys-color-secondary-fixed-light: #CFE9DA;
  --md-sys-color-on-secondary-fixed-light: #092017;
  --md-sys-color-secondary-fixed-dim-light: #B3CCBF;
  --md-sys-color-on-secondary-fixed-variant-light: #354B41;
  --md-sys-color-tertiary-light: #3E6374;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #C2E8FC;
  --md-sys-color-on-tertiary-container-light: #001F2A;
  --md-sys-color-tertiary-fixed-light: #C2E8FC;
  --md-sys-color-on-tertiary-fixed-light: #001F2A;
  --md-sys-color-tertiary-fixed-dim-light: #A6CCE0;
  --md-sys-color-on-tertiary-fixed-variant-light: #254B5C;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #707974;
  --md-sys-color-background-light: #FBFDF9;
  --md-sys-color-on-background-light: #191C1A;
  --md-sys-color-surface-light: #F8FAF6;
  --md-sys-color-on-surface-light: #191C1A;
  --md-sys-color-surface-variant-light: #DBE5DE;
  --md-sys-color-on-surface-variant-light: #404944;
  --md-sys-color-inverse-surface-light: #2E312F;
  --md-sys-color-inverse-on-surface-light: #EFF1EE;
  --md-sys-color-inverse-primary-light: #00E1A9;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006C4F;
  --md-sys-color-outline-variant-light: #BFC9C2;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E1E3DF;
  --md-sys-color-surface-container-high-light: #E7E9E5;
  --md-sys-color-surface-container-light: #ECEEEB;
  --md-sys-color-surface-container-low-light: #F2F4F0;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #F8FAF6;
  --md-sys-color-surface-dim-light: #D8DBD7;
  /* dark */
  --md-sys-color-primary-dark: #00E1A9;
  --md-sys-color-on-primary-dark: #003828;
  --md-sys-color-primary-container-dark: #00513B;
  --md-sys-color-on-primary-container-dark: #39FFC2;
  --md-sys-color-primary-fixed-dark: #39FFC2;
  --md-sys-color-on-primary-fixed-dark: #002116;
  --md-sys-color-primary-fixed-dim-dark: #00E1A9;
  --md-sys-color-on-primary-fixed-variant-dark: #00513B;
  --md-sys-color-secondary-dark: #B3CCBF;
  --md-sys-color-on-secondary-dark: #1F352B;
  --md-sys-color-secondary-container-dark: #354B41;
  --md-sys-color-on-secondary-container-dark: #CFE9DA;
  --md-sys-color-secondary-fixed-dark: #CFE9DA;
  --md-sys-color-on-secondary-fixed-dark: #092017;
  --md-sys-color-secondary-fixed-dim-dark: #B3CCBF;
  --md-sys-color-on-secondary-fixed-variant-dark: #354B41;
  --md-sys-color-tertiary-dark: #A6CCE0;
  --md-sys-color-on-tertiary-dark: #093544;
  --md-sys-color-tertiary-container-dark: #254B5C;
  --md-sys-color-on-tertiary-container-dark: #C2E8FC;
  --md-sys-color-tertiary-fixed-dark: #C2E8FC;
  --md-sys-color-on-tertiary-fixed-dark: #001F2A;
  --md-sys-color-tertiary-fixed-dim-dark: #A6CCE0;
  --md-sys-color-on-tertiary-fixed-variant-dark: #254B5C;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #89938D;
  --md-sys-color-background-dark: #191C1A;
  --md-sys-color-on-background-dark: #E1E3DF;
  --md-sys-color-surface-dark: #111412;
  --md-sys-color-on-surface-dark: #C5C7C4;
  --md-sys-color-surface-variant-dark: #404944;
  --md-sys-color-on-surface-variant-dark: #BFC9C2;
  --md-sys-color-inverse-surface-dark: #E1E3DF;
  --md-sys-color-inverse-on-surface-dark: #191C1A;
  --md-sys-color-inverse-primary-dark: #006C4F;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #00E1A9;
  --md-sys-color-outline-variant-dark: #404944;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #323633;
  --md-sys-color-surface-container-high-dark: #272B29;
  --md-sys-color-surface-container-dark: #1D201E;
  --md-sys-color-surface-container-low-dark: #191C1A;
  --md-sys-color-surface-container-lowest-dark: #0C0F0D;
  --md-sys-color-surface-bright-dark: #373A38;
  --md-sys-color-surface-dim-dark: #111412;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: IBM Plex Mono;
  --md-sys-typescale-display-large-font-family-style: normal;
  --md-sys-typescale-display-large-font-weight: 600;
  --md-sys-typescale-display-large-font-size: 1.2rem;
  --md-sys-typescale-display-large-line-height: 1.5rem;
  --md-sys-typescale-display-large-letter-spacing: 0px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: IBM Plex Mono;
  --md-sys-typescale-display-medium-font-family-style: normal;
  --md-sys-typescale-display-medium-font-weight: 600;
  --md-sys-typescale-display-medium-font-size: 0.9rem;
  --md-sys-typescale-display-medium-line-height: 1.2rem;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: IBM Plex Mono;
  --md-sys-typescale-display-small-font-family-style: normal;
  --md-sys-typescale-display-small-font-weight: 500;
  --md-sys-typescale-display-small-font-size: 0.8rem;
  --md-sys-typescale-display-small-line-height: 1rem;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: IBM Plex Sans KR;
  --md-sys-typescale-headline-large-font-family-style: normal;
  --md-sys-typescale-headline-large-font-weight: 600;
  --md-sys-typescale-headline-large-font-size: 1.8rem;
  --md-sys-typescale-headline-large-line-height: 2.4rem;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: IBM Plex Sans KR;
  --md-sys-typescale-headline-medium-font-family-style: normal;
  --md-sys-typescale-headline-medium-font-weight: 600;
  --md-sys-typescale-headline-medium-font-size: 1.5rem;
  --md-sys-typescale-headline-medium-line-height: 2rem;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: IBM Plex Sans KR;
  --md-sys-typescale-headline-small-font-family-style: normal;
  --md-sys-typescale-headline-small-font-weight: 600;
  --md-sys-typescale-headline-small-font-size: 1.3rem;
  --md-sys-typescale-headline-small-line-height: 1.8rem;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: IBM Plex Sans KR;
  --md-sys-typescale-body-large-font-family-style: normal;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 0.9rem;
  --md-sys-typescale-body-large-line-height: 1.2rem;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: IBM Plex Sans KR;
  --md-sys-typescale-body-medium-font-family-style: normal;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 0.8rem;
  --md-sys-typescale-body-medium-line-height: 1rem;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: IBM Plex Sans KR;
  --md-sys-typescale-body-small-font-family-style: normal;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 0.7rem;
  --md-sys-typescale-body-small-line-height: 0.8rem;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: IBM Plex Mono;
  --md-sys-typescale-label-large-font-family-style: normal;
  --md-sys-typescale-label-large-font-weight: 500;
  --md-sys-typescale-label-large-font-size: 0.8rem;
  --md-sys-typescale-label-large-line-height: 1rem;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: IBM Plex Mono;
  --md-sys-typescale-label-medium-font-family-style: normal;
  --md-sys-typescale-label-medium-font-weight: 500;
  --md-sys-typescale-label-medium-font-size: 0.7rem;
  --md-sys-typescale-label-medium-line-height: 1rem;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: IBM Plex Mono;
  --md-sys-typescale-label-small-font-family-style: normal;
  --md-sys-typescale-label-small-font-weight: 500;
  --md-sys-typescale-label-small-font-size: 0.6rem;
  --md-sys-typescale-label-small-line-height: 0.8rem;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: IBM Plex Sans KR;
  --md-sys-typescale-title-large-font-family-style: normal;
  --md-sys-typescale-title-large-font-weight: 500;
  --md-sys-typescale-title-large-font-size: 1.2rem;
  --md-sys-typescale-title-large-line-height: 1.5rem;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: IBM Plex Sans KR;
  --md-sys-typescale-title-medium-font-family-style: normal;
  --md-sys-typescale-title-medium-font-weight: 500;
  --md-sys-typescale-title-medium-font-size: 0.9rem;
  --md-sys-typescale-title-medium-line-height: 1.2rem;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: IBM Plex Sans KR;
  --md-sys-typescale-title-small-font-family-style: normal;
  --md-sys-typescale-title-small-font-weight: 500;
  --md-sys-typescale-title-small-font-size: 0.8rem;
  --md-sys-typescale-title-small-line-height: 1rem;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
