@use './styles/material-theme/typography.module.css';
@import './index';

.app {
  display: grid;
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}
hr {
  border: 2px solid var(--md-ref-palette-neutral60);
}
.app_body {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  padding: 2rem 3rem;
  height: calc(100vh - 6rem);
}
.app_body_col_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.app_body_row_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.app_body_row_container > div {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.box_locker_title {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.box_lockerState_text {
  display: flex;
  flex-direction: column;
}
.box_lockerOrder_btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.box_lockerOrder_btn_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
}
.box_classTimeTable {
  width: 100%;
}
.box_lockerList {
  width: 100%;
}
.box_lockerList_title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.box_lockerList_item {
  border-radius: 2rem;
  padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  background-color: var(--md-sys-color-secondary);
}
.box_lockerList_item[data-selected=true] {
  background-color: var(--md-sys-color-primary);
}
.box_lockerList_item_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.btn_lockerOrder {
  display: flex;
  background-color: var(--md-sys-color-primary);
  border-radius: 1.5rem;
  align-items: center;
  justify-content: center;
}
.horizon_line {
  width: 100%;
  border-bottom: 1px solid var(--md-ref-palette-neutral60);
}
.box_locker_title > span[class=material-icons] {
  color: var(--md-sys-color-on-surface-variant);
}
.box_locker_title ~ span[class=material-icons] {
  color: var(--md-sys-color-inverse-surface);
}
.text_locker_title {
  @extend .title-large;
  color: var(--md-sys-color-on-surface-variant);
}
.text_lockState_icon {
  @include material-icons();
  color: var(--md-sys-color-on-primary-fixed-variant);
  font-size: 8rem;
  font-variation-settings: "FILL" 1;
}
.text_lockerState_states {
  @extend .headline-large;
  color: var(--md-sys-color-secondary);
}
.text_lockerState_content {
  @extend .headline-small;
  color: var(--md-sys-color-tertiary);
}
.text_lockerOrder_btn_icon {
  @include material-icons();
  color: var(--md-sys-color-on-primary);
  font-variation-settings: "FILL" 1;
}
.text_lockerOrder_btn_content {
  @extend .body-large;
  color: var(--md-sys-color-on-primary);
}
.text_local_clock {
    @extend .body-large;
    color: var(--md-sys-color-on-surface-variant);
}
.text_lockerList_title {
  @extend .display-large;
  color: var(--md-sys-color-on-surface);
}
.text_lockerList_title_icon {
  @include material-icons();
    color: var(--md-sys-color-on-surface);
  font-size: 1.8rem;
}
.text_lockerList_item_title_icon {
  @include material-icons();
  color: var(--md-sys-color-on-secondary);
}
.text_lockerList_item_title {
  @extend .title-large;
  color: var(--md-sys-color-on-secondary);
}
.text_lockerList_item_icon {
    @include material-icons();
  font-size: 1rem;
    color: var(--md-sys-color-secondary-container);
}
.text_lockerList_item_class {
  @extend .display-medium;
  color: var(--md-sys-color-secondary-container)
}
